body {
  text-align: center;
  background-color: #03506f ;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  /*font-family: "Arvo", cursive;*/
  font-family: 'Reggae One', cursive;
  text-shadow: 3px 0 #af2d2d;

}
p {
  font-size: 1.8rem ;
  font-family: 'Acme', sans-serif;
  color: #f7f7f7;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("tom1.png");
}

.a {
  background-image: url("tom2.png");
}

.s {
  background-image: url("tom3.png");
}

.d {
  background-image: url("tom4.png");
}

.j {
background-image: url("snare.png");
}

.k {
  background-image: url("crash.png");
}

.l {
background-image: url("kick.png");
}

.set {                                   /* .set class */
  margin: 10% auto;

}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #8ac4d0;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #78c4d4;
  text-shadow: 3px 0 #4a47a3;
  border-radius: 20px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
